[Unit]
Description=Run Huawei SN6140 audio codec fix after boot

[Timer]
OnBootSec=20s
AccuracySec=1s
Unit=huawei-sn6140-audio-fix.service

[Install]
WantedBy=timers.target
